html {
  font-size: 20px;
  scroll-behavior: smooth;
  font-family: "Montserrat"; }

* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

body {
  visibility: hidden; }

a {
  text-decoration: none; }

header {
  width: 1640px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo > a {
  color: #2196f3;
  font-family: "Poppins";
  font-size: 0.9rem;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }
  .logo > a:hover {
    opacity: .6;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s; }

.header-main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 480px;
  margin-left: 280px;
  margin-right: 210px; }
  .header-main li a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-main li a span {
      position: relative;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      font-family: "Montserrat";
      font-size: 0.75rem;
      color: black; }
      .header-main li a span::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 1px;
        background-color: #2196f3;
        -webkit-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transform: translatey(8px) scalex(0);
        -ms-transform: translatey(8px) scalex(0);
        transform: translatey(8px) scalex(0); }
  .header-main li:hover a span {
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    color: #2196f3; }
    .header-main li:hover a span::after {
      -webkit-transform: translatey(8px) scalex(1);
      -ms-transform: translatey(8px) scalex(1);
      transform: translatey(8px) scalex(1); }
  .header-main li.active a span {
    color: #2196f3; }
    .header-main li.active a span::after {
      -webkit-transform: translatey(8px) scalex(1);
      -ms-transform: translatey(8px) scalex(1);
      transform: translatey(8px) scalex(1); }

.header-btns {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px; }
  .header-btns a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #950abe;
    width: 145px;
    height: 45px;
    border-radius: 40px;
    font-family: "Montserrat";
    font-weight: bold;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    font-size: 0.6rem; }
  .header-btns .registration_header-btn {
    color: white;
    background-color: #950abe;
    margin-right: 12px; }
    .header-btns .registration_header-btn:hover {
      color: #950abe;
      background-color: inherit; }
  .header-btns .login_header-btn {
    color: #950abe; }
    .header-btns .login_header-btn:hover {
      color: white;
      background-color: #950abe; }

.social_header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social_header a {
    margin-right: 20px; }
    .social_header a svg path {
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s; }
    .social_header a svg:hover path {
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      fill: #2196f3; }
  .social_header .lang {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .social_header .lang span {
      font-family: "Montserrat";
      font-size: 0.6rem;
      opacity: .4;
      color: #2196f3;
      font-weight: 800; }
    .social_header .lang span:first-child {
      margin-right: 8px;
      opacity: 1; }

@media screen and (max-width: 1900px) {
  header {
    width: 85.416%; }
  .header-main {
    margin-left: 10.9375%;
    margin-right: 14.583%; }
  .header-btns {
    margin-right: 5.2083%; } }

@media screen and (max-width: 1680px) {
  html {
    font-size: 18px; }
  .header-main {
    min-width: 432px;
    margin-left: 8.9375%;
    margin-right: 10.583%; } }

@media screen and (max-width: 1600px) {
  html {
    font-size: 15px; }
  header {
    width: 89.062%; }
  .header-main {
    min-width: 360px;
    margin-left: 10.9375%;
    margin-right: 12.583%; }
    .header-main li a div {
      margin-top: 6px; }
    .header-main li:not(:last-child) {
      margin-right: 30px; }
  .header-btns a {
    width: 108.75px;
    height: 33.75px;
    border: 2.25px solid #950abe; }
  .social_header a {
    margin-right: 15px; }
  .social_header .lang {
    margin-left: 22.5px; }
    .social_header .lang span:first-child {
      margin-right: 6px; } }

@media screen and (max-width: 1280px) {
  .header-main {
    margin-left: 8.9375%;
    margin-right: 10.583%; } }

@media screen and (max-width: 1156px) {
  .header-main {
    margin-left: 2.9375%;
    margin-right: 4.583%; } }

section {
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 80px 0 80px 0; }

.content {
  margin-top: 16.203vh;
  margin-left: 21.6145%; }

.header-content {
  font-size: 1.5rem;
  color: #2196f3;
  font-weight: 800;
  margin-bottom: 4.16vh; }

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 70px; }
  .error .title-error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 40px 0px 15px; }
    .error .title-error span {
      font-size: 10rem;
      color: #2196f3;
      opacity: .7;
      font-weight: 900; }
    .error .title-error .lost-page {
      font-size: 1rem;
      color: #2196f3;
      font-weight: 600;
      margin-top: 7.407vh;
      margin-bottom: 6.481vh;
      opacity: 1; }
    .error .title-error .error-btn {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 3px solid #950abe;
      border-radius: 40px;
      font-weight: bold;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      background-color: #950abe;
      color: white;
      width: 220px;
      height: 70px; }
      .error .title-error .error-btn:hover {
        background-color: white;
        color: #950abe; }

.img-error {
  margin-left: 13.020vw; }
  .img-error img {
    width: 430px;
    height: 445px; }

@media screen and (min-width: 2000px) {
  .content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 1900px) {
  .content {
    width: 1160px;
    margin-left: 19.6145%; } }

@media screen and (max-width: 1680px) {
  section {
    padding: 65px 0px 65px 0px; }
  .content {
    width: 1100px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 1600px) {
  section {
    padding: 40px 0px 40px 0px; }
  .content {
    width: 1000px; }
  .error .title-error .error-btn {
    width: 165px;
    height: 52.5px;
    border: 2.25px solid #950abe; }
  .img-error img {
    width: 400px;
    height: 415px; } }

@media screen and (max-height: 700px) {
  .content {
    width: 935px; }
  .img-error img {
    width: 380px;
    height: 400px; } }

@media screen and (max-width: 1156px) {
  .error {
    padding-left: 0px; }
  .content {
    width: 860px; } }
