@import 'modules/header.scss';
section{
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	padding: 80px 0 45px 0;
}

.content{
	margin-top: 70px;
	margin-left: 21.6145%;
	width: 1050px;
	display: flex;
	flex-direction: column;
}
.header-content{
	font-family: "Montserrat";
	font-weight: 900;
	font-size: 1.5rem;
	color: $colorBlue;
	margin-bottom: 90px;
}
.comments{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	perspective: 500px;
	transform-style: preserve-3d;
}
.comment{
	position: relative;
	box-sizing: border-box;
	padding:  15px 40px 15px 105px;
	width: 500px;
	height: 180px;
	min-height: 120px;
	border-radius: 25px;
	background: linear-gradient(to right, $colorBlue, #4d84f0);
	margin-bottom: 45px;
	opacity: 0;
	transition-duration: .3s;
	&:hover{
		// box-shadow: 0px 0px 5px $colorBlue;
		// transform: scale(1.1);
		transition-duration: 0s;
	}
	&:nth-child(6), &:nth-child(5){
		margin-bottom: 20px;
	}
}
.comment_comeback{
	transition-duration: .3s;
}
.avatar-comment{
	position: absolute;
	background-color: white;
	left: -15px;
	top: -40px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 15px solid white;
}
.quotes{
	font-family: "Montserrat";
	position: absolute;
	left: 30px;
	top: 30px;
	font-size: 5rem;
	font-weight: 900;
	color: #54b0f9;
	opacity: .92;
	transform: rotate(180deg);
}
.info-comment{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	.data-comment{
		.date-comment{
			font-family: "Montserrat";
			font-size: 0.5rem;
			color: #54b0f9;
			font-weight: 700;
			margin-bottom: 10px;
		}
		.author-comment{
			font-family: "Montserrat";
			font-weight: 600;
			font-size: 1rem;
			color: white;
			margin-bottom: 10px;
			color: white;
		}
		.ectimation-comment{
			margin-bottom: 15px;
		}
	}
	.telegram-comment{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #63b7f9;
	}
}
.text-comment{
	font-family: "Montserrat";
	font-size: 0.7rem;
	color: #b8e0ff;
}

.nav-comments{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.send_comment{
	@include buttonViolet(220px, 70px);
	background-color: $colorViolet;
	color: white;
	font-size: 0.9rem;
	&:hover{
		color: $colorViolet;
		background-color: white;
	}
}

.nav-pages{
	display: flex;
	align-items: center;
	.nav-arrows{
		display: flex;
		margin-right: 45px;
		.arrow{
			width: 40px;
			height: 40px;
			background-color: $colorBlue;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition-duration:.3s;
			&:hover{
				background-color: darken($colorBlue, 5%);
			}
			svg{
				width: 30%;
				height: 30%;
			}
			&:first-child{
				transform: rotate(90deg);
				margin-right: 5px;
			}
			&:last-child{
				transform: rotate(-90deg);
			}
		}
	}
	.count-pages{
		display: flex;
		font-family: "Montserrat";
		font-size: 0.8rem;
		font-weight: 800;
		color: $colorBlue;
		align-items: flex-end;
		span{
			margin: 0 3px;
		}
		.all-pages{
			align-self: flex-start;
			font-size: 0.5rem;
			opacity: .5;
		}
	}
}


@media screen and (min-width: 2000px){
	.content{
		width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 1900px){
	.content{
		margin-left: 19.6145%;
	}
}
@media screen and (max-width: 1680px){
	section{
		padding: 65px 0px 35px 0px;
	}
	.content{
		margin-left: auto;
		margin-right: auto;
		width: 990px;
	}
	.comment{
		height: 16vh;
		width: 470px;
		padding: 15px 40px 15px 85px;
	}
	.avatar-comment{
		left: -10px;
	    top: -30px;
	    width: 60px;
	    height: 60px;
	    border: 10px solid white;
	}
	.quotes{
		left: 20px;
	}
}
@media screen and (max-width: 1600px){
	section{
		padding: 40px 0px 20px 0px;
	}
	.send_comment{
		width: 165px;
		height: 52.5px;
		border: 2.25px solid $colorViolet;
	}
	.nav-pages{
		.nav-arrows > .arrow{
			width: 30px;
 			height: 30px;
		}
	}
	.content{
		width: 890px;
	}
	.comment {
	    width: 430px;
	}
}
@media screen and (max-width: 1280px){
	.content{
		width: 825px;
	}
	.comment {
	    width: 400px;
	    padding: 15px 40px 15px 85px;
	}
}
@media screen and (max-width: 1156px){
	.content{
		 width: 775px;
	}
	.comment {
	    width: 375px;
	    padding: 15px 40px 15px 70px;
	}
}
@media screen and (max-height: 1070px){
	.comment{
		height: 16.66vh;
	}
	.header-content{
		margin-bottom: 60px;
	}
}
@media screen and (max-height: 1000px){
	.comment{
		height: 16vh;
	}
	.header-content{
		margin-bottom: 40px;
	}
}
@media screen and (max-height: 950px){
	.comment{
		margin-bottom: 35px;
	}
}
@media screen and (max-height: 750px){
	.content{
		margin-top: 40px;
	}
	.avatar-comment{
		left: -8px;
	    top: -25px;
	    width: 50px;
	    height: 50px;
	    border: 8px solid white;
	}
}
@media screen and (max-height: 700px){
	.content {
	    margin-top: 30px;
	}
	.header-content{
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 1536px) and (max-height: 700px){
	.comment{
		margin-bottom: 25px;
	}
}