$widthSection: 100vw;
$heightSection: 100vh;
$HFWidth: 1640px;
$colorBlue: #2196f3;
$colorViolet: #950abe;

@mixin buttonViolet($width,$height){
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border: 3px solid $colorViolet;
	width: $width;
	height: $height;
	border-radius: 40px;
	font-family: "Montserrat";
	font-weight: bold;
	transition-duration: .3s;
}


html{
	font-size: 20px;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
	visibility: hidden;
}

a{
	text-decoration: none;
	/*color: inherit;*/
}
/*a:visited{
	color: inherit;
}*/
#fullpage{
	// width: 100vw;
	// overflow-x: hidden;
}
// section{
// 	width: $widthSection;
// 	height: $heightSection;
// 	box-sizing: border-box;
// 	padding: 80px 0;
// }
.fp-tableCell{
	width: $widthSection;
	height: $heightSection;
	box-sizing: border-box;
	padding: 80px 0;
}

// .third_page{
// 	background-color: green;
// }
header{
	width: $HFWidth;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	>a{
		color: $colorBlue;
		font-family: "Poppins";
		font-size: 0.9rem;
		transition-duration: .3s;
		&:hover{
			opacity: .6;
			transition-duration: .3s;
		}
	}
}

.header-main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	min-width: 480px;
	transform: translatey(6px);
	margin-left: 280px;
	margin-right: 210px;
	li{
		a{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			span{
				transition-duration: .3s;
				font-family: "Montserrat";
				font-size: 0.75rem;
				color: black;
			}
			div{
				margin: 0 auto;
				width: 0%;
				height: 2px;
				background-color: $colorBlue;
				margin-top: 8px;
				transition-duration: .3s;
			}
		}
		&:hover{
			a{
				span{
					transition-duration: .3s;
					color: $colorBlue;
				}
				div{
					transition-duration: .3s;
					width: 50%;
				}
			}
		}
	}
	li.active{
		a{
			span{
				color: $colorBlue;
			}
			div{
				width: 50%;
			}
		}
	}
}

.header-btns{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: 100px;
	a{
		@include buttonViolet(145px, 45px);
		font-size: 0.6rem;

	}
	.registration_header-btn{
		color: white;
		background-color: $colorViolet;
		margin-right: 12px;
		&:hover{
			color: $colorViolet;
			background-color: inherit;
		}
	}
	.login_header-btn{
		color: $colorViolet;
		&:hover{
			color: white;
			background-color: $colorViolet;
		}
	}
}

.social_header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	a{
		margin-right: 20px;
		svg{
			path{
				transition-duration: .3s;
			}
			&:hover{
				path{
					transition-duration: .3s;
					fill: $colorBlue;
				}
			}
		}
	}
	.lang{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 30px;
		align-items: center;
		span{
			font-family: "Montserrat";
			font-size: 0.6rem;
			opacity: .4;
			color: $colorBlue;
			font-weight: 800;
		}
		span:first-child{
			margin-right: 8px;
			opacity: 1;
		}
	}
}

.content_first_page{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: 21.6145%;
	margin-top: 17.1296vh;
}

.description{
	width: 535px;
	height: 43.9814vh;
	max-height: 500px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.name{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	justify-content: space-between;
	h1{
		font-family: "Montserrat";
		color: $colorBlue;
		font-weight: 800;
		font-size: 1.5rem;
		margin-right: 225px;
	}
	a{
		display: flex;
		align-items: center;
		svg{
			height: 30px;
			width: 25px;
			opacity: .6;
			path{
				transition-duration: .3s;
			}
			&:hover > path{
				fill: $colorBlue;
				transition-duration: .3s;
			}
		}
	}
	a:last-child{
		svg{
			height: 25px;
			width: 20px;
			margin-left: 30px;
		}
	}
}

.webcoupon_description{
	font-family: "Montserrat";
	font-size: 1rem;
	color: black;
	line-height: 1.5rem;
	letter-spacing: -0.009px;
}

.description_text{
	opacity: .6;
}

.webcoupon{
	color: $colorBlue;
	transition-duration: .3s;
	opacity: .6;
	&:hover{
		opacity: 1;
		transition-duration: .3s;
	}
}

.content-btns{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	a{
		@include buttonViolet(220px, 70px);
		font-size: 0.9rem;
	}
	.singUp_content-btn{
		color: white;
		background-color: $colorViolet;
		margin-right: 20px;
		&:hover{
			color: $colorViolet;
			background-color: white;
		}
	}
	.aboutUs_content-btn{
		color: $colorViolet;
		&:hover{
			color: white;
			background-color:  $colorViolet;
			svg{
				transform: translatex(35px);
				path{
					transition-duration: .3s;
					fill: white;
				}
			}
		}
		svg{
			transition-duration: .3s;
			transform: translatex(20px);
			path{
				transition-duration: .3s;
			}
		}
	}
}

.illust_first_page{
	height: 43.9814vh;
	margin-left: 200px;
	img{
		height: 100%;
	}
}

.next-btn{
	margin-top: 12.9629vh;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	a{
		border-radius: 50%;
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparentize($colorViolet, .7);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		.next{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 65px;
			height: 65px;
			border-radius: 50%;
			transition-duration: .3s;
			background-color: transparentize($colorViolet, .7);
			img{
				display: block;
				box-sizing: border-box;
				padding: 17px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: transparentize($colorViolet, .7);
			}
		}
	}
	&:hover{
		a > .next{
			width: 100%;
			height: 100%;
			transition-duration: .3s;
		}
	}
}
.second_page > .fp-tableCell{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.second_page > .fp-tableCell > *{
	margin-left: 21.6145%;
}

.advan{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	width: 1090px;
	height: 130px;
	margin-bottom: 25px;
	background: linear-gradient(to right, $colorViolet, $colorBlue, #4d84f0);
	background-size: 2180px 130px;
	background-position: -1090px;
	border-radius: 100px;
	box-sizing: border-box;
	min-width: 150px;
	padding-left: 75px;
	transition-duration: .3s;
	&:hover{
		transition-duration: .3s;
		background-position: 0px;
		span{
			opacity: 0;
			transition-duration: .3s;
		}
		.wrap_advan_img{
			height: 230px;
			transition-duration: .3s;
			img{
				transform: translatey(1%) rotatey(0deg);
				opacity: 1;
				transition-duration: .8s;
			}
		}
	}
	.wrap_advan_img{
		align-self: flex-end;
		width: 310px;
		height: 130px;
		position: absolute;
		bottom: 0;
		transform: translatex(-18%);
		overflow: hidden;
		transition-duration: .4s;
		perspective: 300px;
		display: flex;
		justify-content: center;
		img{
			opacity: 0;
	 		width: 280px;
			height: 230px;
			transition-duration: .8s;
			transform: translatey(20%) rotatex(-40deg);
		}
	}
	span{
		font-family: "Montserrat";
		font-size: 3.5rem;
		color: white;
		opacity: .2;
		margin-right: 100px;
		min-width: 150px;
		transition-duration: .3s;
		font-weight: 900;
	}
	p{
		width: 62.844%;
		min-width: 677px;
		font-family: "Montserrat";
		font-size: 1rem;
		line-height: 1.5rem;
		color: white;
		opacity: .9;
	}
}
.advan-btns{
	display: flex;
	margin-top: 65px;
	a{
		@include buttonViolet(220px, 70px);
		font-size: 0.9rem;
	}
	.singUp_advan-btn{
		color: white;
		background-color: $colorViolet;
		margin-right: 20px;
		&:hover{
			color: $colorViolet;
			background-color: white;
		}
	}
	.comments_advan-btn{
		color: $colorViolet;
		&:hover{
			color: white;
			background-color:  $colorViolet;
			svg{
				transform: translatex(35px);
				path{
					transition-duration: .3s;
					fill: white;
				}
			}
		}
		svg{
			transition-duration: .3s;
			transform: translatex(20px);
			path{
				transition-duration: .3s;
			}
		}
	}
}

.third_page > .fp-tableCell{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 130px;
	padding-bottom: 0px;
}

.illust_third_page1{
	position: absolute;
	transform: translate(-7.447vw, 8.888vh);
}

.illust_third_page2{
	position: absolute;
	transform: translate(68.2291vw, 4.5935vh);
}


.acq{
	width: 730px;
	height: 46.496vh;
	min-height: 300px;
	max-height: 500px;
	margin-left: 21.6145%;
	margin-bottom: 310px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	h1{
		font-family: "Montserrat";
		font-size: 1.5rem;
		color: $colorBlue;
		font-weight: 800;
	}
	.webcoupon_description{
		width: 545px;
	}
	.acq-btns{
		display: flex;
		a{
			@include buttonViolet(220px, 70px);
			font-size: 0.9rem;
			svg{
				transform: translatex(20px);
				transition-duration: .3s;
				path{
					transition-duration: .3s;
				}
			}
		}
		.read-btn{
			color: white;
			background-color: $colorViolet;
			margin-right: 20px;
			&:hover{
				color: $colorViolet;
				background-color: white;
				svg > path{
					fill: $colorViolet;
					transition-duration: .3s;
				}
			}
		}
		.save-btn{
			color: $colorViolet;
			&:hover{
				color: white;
				background-color: $colorViolet;
				svg > path{
					fill: white;
					transition-duration: .3s;
				}
			}
		}
	}
}

footer{
	width: 100%;
	height: 130px;
	background-color: $colorBlue;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.wrap_footer{
	width: $HFWidth;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-footer{
	display: flex;
	flex-direction: column;
	padding-top: 23px;
	margin-right: 170px;
	min-width: 200px;
	a{
		font-family: "Poppins";
		font-size: 0.9rem;
		font-weight: 800;
		color: white;
		margin-bottom: 18px;
	}
	.regulation{
		display: flex;
		flex-direction: column;
		a{
			font-family: "Montserrat";
			color: white;
			font-size: 0.58rem;
			text-decoration: underline;
			opacity: .8;
			font-weight: 500;
			transition-duration: .3s;
			&:hover{
				text-decoration: none;
				transition-duration: .3s;
			}
		}
		a:not(:last-child){
			margin-bottom: 12px;
		}
	}
}

.main-footer > ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-width: 480px;
	transform: translatey(6px);
	justify-content: space-between;
	li{
		a{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			span{
				font-family: "Montserrat";
				font-size: 0.75rem;
				color: white;
				opacity: .6;
				transition-duration: .3s;
			}
			div{
				margin: 0 auto;
				width: 0%;
				height: 2px;
				background-color: white;
				margin-top: 8px;
				transition-duration: .3s;
			}
		}
		&:hover > a{
			span{
				opacity: 1;
				transition-duration: .3s;
			}
			div{
				width: 50%;
				transition-duration: .3s;
			}
		}
	}
	li.active{
		a{
			span{
				opacity: 1;
			}
			div{
				width: 50%;
			}
		}
	}
}

.footer-btns{
	display: flex;
	margin-left: 240px;
	margin-right: 189px;
	a{
		@include buttonViolet(145px, 45px);
		font-size: 0.6rem;
		border: 3px solid white;
	}
	.registration_footer-btn{
		color: $colorBlue;
		background-color: white;
		margin-right: 12px;
		&:hover{
			color: white;
			background-color: inherit;
		}
	}
	.login_footer-btn{
		color: white;
		&:hover{
			color: $colorBlue;
			background-color: white;
		}
	}
}
.social-footer{
	min-width: 75px;
	a > svg > path{
		transition-duration: .3s;
	}
	a:hover > svg > path{
		transition-duration: .3s;
		fill: transparentize(white, .4);
	}
	a:first-child{
		margin-right: 30px;
	}
}


#sceneFirstSection{
	position: fixed;
	z-index: -3;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	.sceneFPEllipse{
		margin-top: 10vh;
		margin-left: -4%;
		width: 8vw;
	}
	.sceneFPPol1{
		margin-top: 41vh;
		margin-left: 0%;
		width: 9vw;
	}
	.sceneFPPol2{
		margin-top: 34vh;
		margin-left: 6%;
		width: 6vw;
	}
	.sceneFPPol3{
		margin-top: 54vh;
		margin-left: 6%;
		width: 4vw;
	}
	.sceneFPEllipse2{
		margin-top: 11vh;
		margin-left: 54%;
		width: 47vw;
		z-index: -3;
	}
	.sceneFPEllipse3{
		margin-top: -2vh;
		margin-left: 46%;
		width: 62vw;
		z-index: -3;
	}
	.sceneFPEllipse4{
		margin-top: 25vh;
		margin-left: 61%;
		width: 33vw;
		z-index: -3;
	}
	.sceneFPTrifle1{
		z-index: 0;
		margin-top: 30vh;
		margin-left: 68%;
		width: 3vw;
	}
	.sceneFPTrifle2{
		z-index: 0;
		margin-top: 72vh;
		margin-left: 55%;
		width: 3vw;
	}
	.sceneFPTrifle3{
		z-index: 0;
		margin-top: 75vh;
		margin-left: 85%;
		width: 3vw;
	}
}


@media screen and (min-width: 2000px){
	.content_first_page{
		width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
	.advan{
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 1900px){
	header, .wrap_footer{
		width: 85.416%;
	}
	.header-main{
		margin-left: 10.9375%;
		margin-right: 14.583%;
	}
	.header-btns{
		margin-right: 5.2083%;
	}
	.content_first_page, .second_page > .fp-tableCell > *, .acq{
		margin-left: 19.6145%;
	}
	.logo-footer{
		margin-right: 9.9416%;
	}
	.footer-btns{
		margin-left: 11.0528%;
		margin-right: 14.0353%;
	}
}
@media screen and (max-width: 1680px){
	html{
		font-size: 18px;
	}
	.fp-tableCell{
		padding: 65px 0;
	}
	.content_first_page, .second_page > .fp-tableCell > *, .acq{
		margin-left: auto;
	}
	.content_first_page{
		justify-content: center;
	}
	.illust_first_page{
		margin-left: 160px;
	}
	.header-main{
		min-width: 432px;
		margin-left: 8.9375%;
		margin-right: 10.583%;
	}
	.second_page > .fp-tableCell{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.advan-btns{
		margin-top: 10px;
	}
	.main-footer{
		ul{
			min-width: 432px;
		}
	}
	.illust_third_page1{
		transform: translate(-13.447vw, 7.888vh);
	}

	.illust_third_page2{
		transform: translate(66.2291vw, 3.5935vh);
	}
	.logo-footer{
		margin-right: 6.9416%;
	}
	.footer-btns{
		margin-right: 8.0353%;
	}
	.social-footer{
		min-width: 55px;
		a:first-child{
			margin-right: 10px;
		}
	}
	#sceneFirstSection{
		.sceneFPEllipse2{
			margin-top: 3vh;
			
		}
		.sceneFPEllipse3{
			margin-top: -10vh;
			
		}
		.sceneFPEllipse4{
			margin-top: 17vh;
			
		}
	}
}
@media screen and (max-width: 1600px){
	.illust_third_page1{
		transform: translate(-15.447vw, 7.888vh);
	}
}
@media screen and (max-width: 1536px){
	.illust_third_page1{
		transform: translate(-17.447vw, 7.888vh);
	}
	.footer-btns{
		margin-right: 5.0353%;
	}
}
@media screen and (max-width: 1600px){
	html{
		font-size: 15px;
	}
	.fp-tableCell{
		padding: 40px 0;
	}
	header{
		width: 89.062%;
	}
	// .content_first_page{
	// 	justify-content: unset;
	// }
	.header-main{
		min-width: 360px;
		margin-left: 10.9375%;
		margin-right: 12.583%;
		transform: translatey(4.5px);
		li{
			a{
				div{
					margin-top: 6px;
				}
			}
		}
		li:not(:last-child){
			margin-right: 30px;
		}
	}
	.header-btns{
		a{
			width: 108.75px;
			height: 33.75px;
			border: 2.25px solid $colorViolet;
		}
	}
	.social_header{
		a{
			margin-right: 15px;
			/*svg{
				height: 7.5px;
			}*/
		}
		.lang{
			margin-left: 22.5px;
			span:first-child{
				margin-right: 6px;
			}
		}
	}

	.description{
		width: 401.25px;
	}
	.name{
		h1{
			margin-right: 168.75px;
		}
		a{
			display: flex;
			align-items: center;
			svg{
				height: 22.5px;
				width: 18.75px;
				opacity: .6;
			}
		}
		a:last-child{
			svg{
				height: 18.75px;
				width: 15px;
				margin-left: 22.5px;
			}
		}
	}
	.content-btns{
		a{
			width: 165px;
			height: 52.5px;
			border: 2.25px solid $colorViolet;
			svg{
				width: 11.5px;
				height: 7.5px;
				transform: translatex(18.75px);
			}
		}
	}
	.next-btn{
		width: 60px;
		height: 60px;
		a{
			width: 60px;
			height: 60px;
			.next{
				width: 48.75px;
				height: 48.75px;
				img{
					width: 37.5px;
					height: 37.5px;
					padding: 12.75px;
				}
			}
		}
	}
	.content_first_page, .second_page > .fp-tableCell > *, .acq{
		margin-left: 17.6145%;
	}
	.content_first_page{
		margin-left: auto;
	}
	.advan{
		width: 817.5px;
		height: 97.5px;
		padding-left: 56.25px;
		margin-bottom: 15px;
		background: linear-gradient(to right, $colorViolet, $colorBlue, #4d84f0);
		background-size: 1635px 97.5px;
		background-position: -817.5px;
		&:hover{
			transition-duration: .3s;
			background-position: 0px;
			.wrap_advan_img{
				height: 160px;
			}
		}
		span{
			min-width: 110px;
			margin-right: 75px;
		}
		.wrap_advan_img{
			height: 97.5px;
			transform: translatex(-25%);
			img{
				width: 210px;
				height: 160px;
			}
		}

		p{
			width: 67%;
   			min-width: unset;
		}
	}
	.advan-btns{
		margin-top: 20px;
		a{
			width: 165px;
			height: 52.5px;
			border: 2.25px solid $colorViolet;
			svg{
				width: 11.5px;
				height: 7.5px;
				transform: translatex(18.75px);
			}
		}
	}
	.third_page > .fp-tableCell{
		padding-top: 97.5px;
	}
	.acq{
		margin-bottom: 28.7037vh;
		.acq-btns{
			margin-top: 7.5px;
			a{
				width: 165px;
				height: 52.5px;
				border: 2.25px solid $colorViolet;
				svg{
					width: 17.5px;
					height: 13.5px;
					transform: translatex(18.75px);
				}
			}
		}
	}
	.illust_third_page1{
		position: absolute;
		transform: translate(-7.447vw, 7.888vh);
		img{
			width: 297.5px;
			height: 273.75px;
		}
	}

	.illust_third_page2{
		position: absolute;
		transform: translate(68.2291vw, 3.5935vh);
		img{
			width: 297.5px;
			height: 273.75px;
		}
	}
	footer{
		height: 97.5px;
	}
	.wrap_footer{
		width: 89.062%;
	}
	.logo-footer{
		padding-top: 17.25px;
		margin-right: 7.9416%;
		min-width: 150px;
		a{
			margin-bottom: 13.5px;
		}
		.regulation{
			a:not(:last-child){
				margin-bottom: 9px;
			}
		}
	}
	.main-footer{
		ul{
			min-width: 360px;
			width: 360px;
			transform: translatey(4.5px);
			li{
				a{
					div{
						margin-top: 6px;
					}
				}
			}
		}
	}
	.footer-btns{
		margin-left: 8.0528%;
		a{
			width: 108.75px;
			height: 33.75px;
			border: 2.25px solid white;
		}
	}
	.social-footer{
		min-width: 58.75px;
		a:first-child{
			margin-right: 15px;
		}
	}
}
@media screen and (max-width: 1280px){
	.header-main{
		margin-left: 8.9375%;
	    margin-right: 10.583%;
	}
	.footer-btns{
		margin-left: 4.0528%;
	}
	.illust_third_page1{
		transform: translate(-10.447vw, 5.888vh);
	}
}
@media screen and (max-width: 1156px){
	.header-main{
		margin-left: 2.9375%;
   		margin-right: 4.583%;
	}
	.illust_third_page1{
		transform: translate(-13.447vw, 5.888vh);
	}
	.logo-footer{
		margin-right: 3.9416%;
	}
	.footer-btns{
		margin-left: 2.0528%
	}
}
@media screen and (max-height: 1000px){
	.third_page > .fp-tableCell{
		padding-top: 160px;
	}
	.acq{
		margin-bottom: 20.7037vh;
	}
}
@media screen and (max-height: 800px){
	.third_page > .fp-tableCell{
		padding-top: 120px;
	}
	.acq{
		margin-bottom: 20.7037vh;
	}
}
@media screen and (max-height: 730px){
	// .acq{
	// 	margin-bottom: 23.7037vh;
	// }
}
@media screen and (max-height: 700px){
	.next-btn{
		margin-top: 9.9629vh;
	}
	.description{
		min-height: 310px;
	}
	.third_page > .fp-tableCell{
		padding-top: 100px;
	}
	.acq{
		margin-bottom: 21.7037vh;
	}
}
@media screen and (min-width: 1800px) and(max-width: 1920px) and (min-height: 900px) and (max-height: 1000px){
	.fp-tableCell{
		padding: 65px 0;
	}
	.advan{
		&:hover{
			img{
				transform: translatex(-2.5vw) translatey(-37px)
			}
		}
		img{
			height: 210px;
			transform: translatex(-50vw) translatey(-45px);
		}
	}
	.advan-btns{
		margin-top: 25px;
	}
	.advan-btns {
	    margin-top: 10px;
	}
	.fp-tableCell{
		padding: 35px 0;
	}
	#sceneFirstSection{
		.sceneFPEllipse2{
			margin-top: 1vh;
			
		}
		.sceneFPEllipse3{
			margin-top: -15vh;
			
		}
		.sceneFPEllipse4{
			margin-top: 13vh;
			
		}
	}
}
@media screen and (min-width: 1440px) and (min-height: 600px) and (max-height: 700px){
	.next-btn {
	    margin-top: 7.9629vh;
	}
	.illust_third_page1{
		transform: translate(-3.447vw, 3.888vh);
	}
}