$siteWidth: 1000px;
@font-face {
	font-family: 'Core Sans Nr Light';
	src: url('../fonts-shop/coresansnr35light-webfont.eot');
	src: url('../fonts-shop/coresansnr35light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts-shop/coresansnr35light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Core Sans Nr Regular';
	src: url('../fonts-shop/coresansnr45regular-webfont.eot');
	src: url('../fonts-shop/coresansnr45regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts-shop/coresansnr45regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Core Sans Nr Medium';
	src: url('../fonts-shop/coresansnr55medium-webfont.eot');
	src: url('../fonts-shop/coresansnr55medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts-shop/coresansnr55medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@mixin font_main{
	font-size: 16px;
	color: #bcbcbc;
	font-family: 'Core Sans Nr Regular';
}
body{
	overflow-x: hidden;
	// touch-action: none
}
.block_scroll{
	overflow: hidden;
	touch-action: none;
}
body::-webkit-scrollbar{
	display: none;
} 
.site{
	width: 100vw;
	overflow: hidden;
}
.slick-track{
	display: flex;
}
header{
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100vw;
	height: 70px;
	background-color: #242424;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition-duration: .1s;
	.wrap_header{
		width: 1000px;
		// height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transform: translatey(-2px);
		.logo{
			cursor: pointer;
			transform: translateX(-35px);
			&:hover > svg > g > g > g > path,&:hover > svg > g > g > g > polygon{
				fill: #fff;
			}
		}
		.contact{
			@include font_main;
			align-content: flex-end;
			svg{
				margin-left: 17px;
				transform: translatey(3px);
				cursor: pointer;
			}
			.mobil_nav{
				display: none;
			}
			.phone_mobile{
				display: none;
			}
		}
	}
}
.nav{
	@include font_main;
	display: flex;
	align-items: flex-end;
	width: 263px;
	.wrap_nav{
		display: flex;
		align-items: flex-end;
		width: 262.16px;
		.main{
			text-transform: uppercase;
			margin-right: 20px;
			cursor: pointer;
			&:hover{
				color: #fff;
			}
		}
		.location{
			// height: 100px;
			cursor: pointer;
			.head_location{
				width: 195px;
				text-transform: uppercase;
				&:hover{
					color: #fff;
				}
				&:hover > svg > g > g > path{
					fill: #fff;
				}
				svg{
					transform: translatey(2px);
					width: 15px;
					height: 20px;
					g > g > path{
						width: 10px;
						height: 15px;
						fill: #bcbcbc;
					}
				}
			}
			ul{
				display: none;
				padding: 20px 0;
				position: absolute;
				background-color: #242424;
				li{
					cursor: pointer;
					padding: 8px 30px;
					&:hover{
						color: #fff;
					}
				}
			}
		}
	}
	.close{
		display: none;
		opacity: 0;
		transform: translatey(3px);
		cursor: pointer;
		// svg > g > g > g > path{
		// 	tra
		// }
		&:hover > svg > g > g > g > path{
			fill: #fff;
		}
	}
}
.full_main{
	position: fixed;
	overflow: hidden;
	width: 100vw;
	top: 35px;
	height: 0px;
	background-color: #242424;
	transition-duration: .3s;
	.wrap_full_main{
		@include font_main; 
		width: $siteWidth;
		margin: 0 auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.main_nav{
			margin-top: 65px;
			padding-bottom: 140px;
			border-bottom: 1px solid #bcbcbc;
			width: 100%;
			display: flex;
			justify-content: space-between;
			.main_block{
				width: 270px;
				.main_header{
					text-transform: uppercase;
				}
				.full_main_links{
					margin-top: 25px;
					margin-bottom: 40px;
					a{
						@include font_main;
						text-decoration: none;
						line-height: 19px;
						&:not(:last-child){
							margin-right: 20px;
						}
						&:hover{
							color: #fff;
						}
					}
				}
			}
		}
		.social_links{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			margin: 50px 0 0 0;
			height: 150px;
			.wrap_social_link{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.adress{
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					div{
						margin-bottom: 2px;
					}
				}
				.social_sites{
					display: flex;
					a{
						margin-right: 20px;
						svg{
							width: 20px;
							height: 20px;
							cursor: pointer;
						}
					}
				}
			}
			.years{
				align-self: center;
				// margin-top: 70px;
				margin-bottom: 20px;
			}
		}
	}
}
.main_slider{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	h1{
		transform: translateY(-152px);
		position: absolute;
		@include font_main;
		color: #666666;
	}
	.printers_navigation{
		display: none;
		align-items: center;
		position: absolute;
		svg{
			margin-right: 60px;
			&:hover > path{
				fill: #1cded3;
			}
		}
		.price{
			span{
				text-transform: uppercase;
				font-size: 40px;
				font-family: "Core Sans Nr Medium";
				color: #242424;
			}
		}
	}
	.wrap_main_slider{
		width: $siteWidth;
		margin-top: 95px;
		overflow: hidden;
		.printer_slide{
			width: $siteWidth;
			display: flex;
			outline: none;
			.printer_info{
				display: flex;
				flex-direction: column;	
				align-content: flex-start;
				width: 500px;
				height: 100%;
				padding-top: 125px;
				padding-bottom: 45px;
				.wrap_printer_info{
					.printer_name{
						margin: 0 0 40px 0;
						font-family: "Core Sans Nr Medium";
						color: #242424;
						font-size: 40px;
						text-transform: uppercase;
						transform: translateX(-3px);
						line-height: 40px;
					}
					.printer_description{
						@include font_main;
						color: #666666;
						margin-bottom: 37px;
						line-height: 19px;
						box-sizing: border-box;
						padding-right: 15px;
					}
					.mobile_printer{
						display: none;
					}
					.button{
						cursor: pointer;
						@include font_main;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						color: #fffefe;
						width: 165px;
						height: 40px;
						background-color: #1dded2;
						box-sizing: border-box;
						border: none;
						margin-right: 40px;
						font-family: "Core Sans Nr Medium";
						.button_text{
							position: relative;
							x-index: 2;
							text-transform: uppercase;
						}
						.blick{
							position: absolute;
							height: 40px;
							width: 0px;
							background-color: rgba(#999999,.5);
							transition-duration: .3s;
							align-self: flex-start;
						}
						&:hover > .blick{
							width: 165px;
						}
					}
					.printer-btns{
						display: flex;
						align-items: center;
						// margin-bottom: 165px;
						a{
							width: 165px;
							height: 40px;
							display: flex;
							align-items: center;
							@include font_main;
							color: #666666;
							text-decoration: none;
							span{
								margin-right: 10px;
							}
							.link_animate{
								div{
									position: absolute;
									width: 40px;
									height: 1px;
									background-color: #666666;
									transition-duration: .3s;
									&:not(:nth-child(2)){
										width: 5px;
									}
								}
							}
							&:hover > .link_animate > .band_1{
								transform: translatey(-7px);
							}
							&:hover > .link_animate > .band_3{
								transform: translatey(7px);
							}	
						}
						.mobile_price{
							display: none;
						}
					}
				}
			}
			.printer_image{
				width: 500px;
				display: flex;
				justify-content: flex-end;
				.printer{
					position: absolute;
				}
				.printer_bgc{
					width: 331px;
					height: 560px;
					.price{
						transform: translate(50px, 480px);
						span{
							text-transform: uppercase;
							font-size: 40px;
							font-family: "Core Sans Nr Medium";
							color: #242424;
						}
					}
					// margin-top: 20px;
					// margin-left: -86px;
					// position: absolute;
				}
			}
		}
	}
}
.printers_navigation{
	display: flex;
	transform: translateY(-80px);
	cursor: pointer;
	.printers_navigation > *{
		outline: none;
		cursor: pointer;
	}
	.slick-active{
		outline: none;
		svg{
			outline: none;
			cursor: pointer;
		}
		svg > path{
			fill: #1cded3;
			cursor: pointer;
		}
	}
}
.learn{
	width: 100vw;
	background-color: #f7f7f7;
	height: 630px;
	.wrap_learn{
		width: $siteWidth;
		margin: 0 auto;
		padding: 140px 0;
		display: flex;
		justify-content: space-between;
		.learn_info{
			.wrap_learn_info{
				width: 500px;
				display: flex;
				flex-direction: column;
				svg{
					// margin-bottom: 40px;
					// float: none;
					transform: translateX(-4px);
				}
				.learn_text{
					margin-top: 40px;
					font-size: 40px;
					font-family: "Core Sans Nr Medium";
					text-transform: uppercase;
					color: #242424;
				}
			}
			.learn_description{
				@include font_main;
				color: #666666;
				font-weight: 400;
				margin: 40px 0;
				width: 409px;
			}
			.button{
				cursor: pointer;
				@include font_main;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				color: #fffefe;
				width: 235px;
				height: 40px;
				background-color: #1dded2;
				box-sizing: border-box;
				border: none;
				margin-right: 40px;
				font-family: "Core Sans Nr Medium";
				.button_text{
					position: relative;
					x-index: 2;
					text-transform: uppercase;
				}
				.blick{
					position: absolute;
					height: 40px;
					width: 0px;
					background-color: rgba(#999999,.5);
					transition-duration: .3s;
					align-self: flex-start;
				}
				&:hover > .blick{
					width: 235px;
				}
			}
			.learn_slider_mobile{
				display: none;
			}
		}
		.learn_slider{
			overflow: hidden;
			img{
				outline: none;
				height: 357px;
			}
		}
		.close_learn_slider{
			display: none;
			position: fixed;
			cursor: pointer;
		}
	}
}
.wrap_main_slider_mobile{
	display: none;
}
.dots{
	display: flex;
	justify-content: center;
	transform: translateY(-33px);
	*{
		border: 2px solid #999999;
		width: 10px;
		height: 10px;
		box-sizing: border-box;
		line-height: 0px;
		&:not(:last-child){
			margin-right: 5px;
		}
	}
	.slick-active{
		border: 2px solid #666666;
	}
}
.advantages{
	width: 100vw;
	background-color: #f7f7f7;
	height: 450px;
	.wrap_advantages{
		width: $siteWidth;
		margin: 0 auto;
		padding: 140px 0;
		h2{
			font-size: 40px;
			font-family: "Core Sans Nr Medium";
			text-transform: uppercase;
			color: #242424;
			margin-bottom: 70px;
		}
		.advantages_list{
			display: flex;
			justify-content: space-between;
			.advantages_block{
				display: flex;
				.advantages_decription{
					@include font_main;
					color: #666666;
					width: 140px;
					line-height: 18px;
					margin-left: 20px;
				}
			}
		}
	}
}
.question{
	width: 100vw;
	height: 700px;
	.wrap_question{
		width: $siteWidth;
		margin: 0 auto;
		padding: 140px 0;
		.wrap_question_svg{
			svg{
				transform: translateX(-7px);
			}
			.mobile_h2{
				display: none;
			}
		}
		.wrap_form_question{
			display: flex;
			.have_question{
				h2{
					color: #242424;
					transform: translateX(-3px);
					font-family: "Core Sans Nr Medium";
					font-size: 40px;
					font-weight: 400;
					text-transform: uppercase;
					margin: 40px 0;
				}
				.question_description{
					@include font_main;
					color: #666666;
					width: 316px;
					p{
						line-height: 18px;
						&:not(:last-child){
							margin-bottom: 25px;
						}
					}
				}
			}
			.form{
				display: flex;
				padding-top: 40px;
				margin-left: 20px;
				.send_message{
					width: 323px;
					.wrap_input{
						width: 323px;
						height: 36px;
						display: flex;
						align-items: center;
						border-bottom: 1px solid #bcbcbc;
						padding: 0 10px;
						box-sizing: border-box;
						margin-bottom: 30px;
						input{
							@include font_main;
							color: #666666;
							margin-left: 10px;
							border: none;
							background-color: transparent;
							outline: none;
							width: 100%;
						}
					}
					.wrap_textarea_mobil{
						display: none;
						border: 1px solid #bcbcbc;
					}
					.task{
						width: 323px;
						height: 36px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.task_text{
							@include font_main;
							color: #666666;
							margin-left: 10px;
						}
						input{
							width: 128px;
							height: 36px;
							@include font_main;
							color: #666666;
							border: 1px solid #bcbcbc;
							box-sizing: border-box;
							background-color: transparent;
							padding: 0;
							outline: none;
							text-align: center;
							padding: 0 10px;
						}
					}
					.submit-btns_mobile{
						display: none;
					}
				}
				.submit{
					width: 321px;
					margin-left: 20px;
					.wrap_textarea{
						width: 321px;
						height: 168px;
						border: 1px solid #bcbcbc;
						box-sizing: border-box;
						padding: 7px 10px;
						display: flex;
						align-items: flex-start;
						margin-bottom: 30px;
						textarea{
							@include font_main;
							color: #666666;
							width: 100%;
							height: 100%;
							border: none;
							background-color: transparent;
							resize: none;
							outline: none;
							overflow: hidden;
						}
					}
					.submit-btns{
						display: flex;
						.button{
							cursor: pointer;
							@include font_main;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							color: #fffefe;
							width: 150px;
							height: 36px;
							background-color: #1dded2;
							box-sizing: border-box;
							border: none;
							margin-right: 10px;
							font-size: 14px;
							font-family: "Core Sans Nr Medium";
							.button_text{
								position: relative;
								x-index: 2;
								text-transform: uppercase;
							}
							.blick{
								position: absolute;
								height: 36px;
								width: 0px;
								background-color: rgba(#999999,.5);
								transition-duration: .3s;
								align-self: flex-start;
							}
							&:hover > .blick{
								width: 150px;
							}
						}
						#input_file{
							display: none;
						}
						label{
							@include font_main;
							display: flex;
							align-items: center;
							justify-content: center;
							width: 160px;
							height: 36px;
							background-color: #e1e1e1;
							color: #666666;
							text-transform: uppercase;
							font-family: "Core Sans Nr Medium";
							font-size: 14px;
							transition-duration: .3s;
							cursor: pointer;
							&:hover{
								background-color: #666666;
								color: #e1e1e1;
							}
						}
					}
				}
			}
		}
	}
}
#map{
	width: 100vw;
	height: 640px;
}
.contact_map_mobile{
	display: none;
}
.contact_map{
	width: 320px;
	height: 335px;
	position: absolute;
	transform: translateY(-500px);
	background-color: #fff;
	padding: 70px 40px;
	box-sizing: border-box;
	.contact_text{
		font-family: "Core Sans Nr Medium";
		font-size: 40px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	div{
		width: 100%;
		margin-bottom: 25px;
		@include font_main;
		color: #666666;
	}
}
footer{
	width: 100vw;
	height: 340px;
	background-color: #242424;
	box-sizing: border-box;
	padding: 70px 0;
	.wrap_footer{
		width: $siteWidth;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.footer_block{
			width: 270px;
			.footer_logo{
				margin-bottom: 25px;
				svg{
					cursor: pointer;
					&:hover > g > g > g > path,&:hover > g > g > g > polygon{
						fill: #ffffff;
					}
				}
			}
			.adress{
				div{
					@include font_main;
					color: #666666;
				}
			}
			.social_sites{
				display: flex;
				margin-top: 20px;
				a{
					margin-right: 20px;
					svg{
						width: 20px;
						height: 20px;
						cursor: pointer;
					}
				}
			}
			.years{
				@include font_main;
				color: #666666;
				margin-top: 40px;
			}
			.footer_header{
				@include font_main;
				color: #666666;
				text-transform: uppercase;
			}
			.footer_links{
				margin-top: 25px;
				margin-bottom: 40px;
				a{
					@include font_main;
					color: #666666;
					text-decoration: none;
					line-height: 19px;
					&:not(:last-child){
						margin-right: 20px;
					}
					&:hover{
						color: #fff;
					}
				}
			}
		}
	}
}
#map{
	.ymaps-layers-pane{
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0.9 0.09999999999999998" /><feFuncG type="table" tableValues="0.9 0.09999999999999998" /><feFuncB type="table" tableValues="0.9 0.09999999999999998" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: grayscale(100%) invert(90%);
	filter: grayscale(100%) invert(90%);
  }
}
.wrap_order_modal{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	z-index: 6;
	background-color: rgba(#666666, .8);
	display: none;
	align-items: center;
	justify-content: center;
	.order_modal{
		width: 320px;
		background-color: #fff;
		box-sizing: border-box;
		padding: 20px;
		padding-top: 30px;
		.modal_header{
			display: flex;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 40px;
			box-sizing: border-box;
			padding: 0 10px;
			.wrap_order{
				display: flex;
				align-items: center;
				.order{
					@include font_main;
					font-size: 20px;
					color: #666666;
					text-transform: uppercase;
				}
				.line{
					width: 20px;
					height: 1px;
					background-color: #666666;
					margin: 0 7px;
				}
				.order_name{
					@include font_main;
					font-size: 20px;
					color: #1dded2;
					text-transform: uppercase;
				}
			}
			svg{
				cursor: pointer;
			}
		}
		.order_test{
			display: none;
			width: 100%;
			@include font_main;
			font-size: 12px;
			color: #666666;
			padding: 0 10px;
			box-sizing: border-box;
			margin-bottom: 30px;
		}
	}
}
.send_modal{
	.wrap_input{
		width: 100%;
		height: 27px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #bcbcbc;
		padding: 0 10px;
		box-sizing: border-box;
		margin-bottom: 25px;
		input{
			@include font_main;
			color: #666666;
			margin-left: 10px;
			border: none;
			background-color: transparent;
			outline: none;
			width: 100%;
		}
	}
	.wrap_textarea_modal{
		width: 100%;
		height: 100px;
		box-sizing: border-box;
		padding: 7px 10px;
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;
		border: 1px solid #bcbcbc;
		textarea{
			font-size: 16px;
			font-family: 'Core Sans Nr Regular';
			color: #666666;
			width: 100%;
			height: 100%;
			border: none;
			background-color: transparent;
			resize: none;
			outline: none;
			overflow: hidden;
			margin-left: 5px;
		}
	}
	.task{
		width: 100%;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		.task_text{
			@include font_main;
			color: #666666;
		}
		input{
			width: 100px;
			height: 30px;
			@include font_main;
			color: #666666;
			border: 1px solid #bcbcbc;
			background-color: transparent;
			box-sizing: border-box;
			padding: 0;
			outline: none;
			text-align: center;
			padding: 0 10px;
		}
	}
	.submit-btns_modal{
		display: flex;
		justify-content: space-between;
		.button{
			cursor: pointer;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #fffefe;
			width: 150px;
			height: 40px;
			background-color: #1dded2;
			box-sizing: border-box;
			border: none;
			margin-right: 10px;
			font-size: 14px;
			font-family: "Core Sans Nr Medium";
			.button_text{
				position: relative;
				x-index: 2;
				text-transform: uppercase;
			}
			.blick{
				position: absolute;
				height: 40px;
				width: 0px;
				background-color: rgba(#999999,.5);
				transition-duration: .3s;
				align-self: flex-start;
			}
			&:hover > .blick{
				width: 150px;
			}
		}
		#input_file{
			display: none;
		}
		label{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 40px;
			background-color: #e1e1e1;
			svg{
				width: 30px;
				height: 30px;
				path{
					fill: #666666;
				}
			}
			cursor: pointer;
			&:hover{
				background-color: #666666;
			}
			&:hover > svg > path{
				fill: #e1e1e1;
			}
		}
	}
}
.wrap_input, .wrap_textarea,.wrap_textarea_modal,.task > input{
	&:hover{
		background-color: #f7f7f7;
	}
	&:hover > input{
		background-color: #f7f7f7;
	}
}